<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADS打包平台</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/vue.min.js"></script>
    <style>
        body {
            color: white;
            background: url("image/back.jpg") repeat-y center top;
        }

        .input_class {
            background-color: rgba(16, 27, 29, 0.5);
            color: white;
            border-color: rgba(16, 27, 29, 0.5);
        }
    </style>
</head>
<body>
<!--<div style="position:absolute; width:100%; height:100%; z-index:-1">-->
<!--<img src="image/back.jpg" height="100%" width="100%"/>-->
<!--</div>-->
<div align="center" style="margin-bottom: 2%;margin-top: 5px;">
    <h2>ADS打包列表</h2>
</div>

<div id="main" style="margin-left: 10px;margin-right: 10px;">
    <div style="margin-bottom: 2%;margin-top: 5px;">
        <button type="button" class="btn btn-default" @click="queryByNow">立即刷新</button>
        <button type="button" class="btn btn-default" @click="queryByTimeTask" style="margin-left: 10px;">定时刷新</button>
        <button type="button" class="btn btn-default" @click="closeTimeTask" style="margin-left: 10px;">关闭定时刷新</button>
    </div>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#install" data-toggle="tab">安装包列表</a></li>
        <li><a href="#upgrade" data-toggle="tab">升级包列表</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="install">
            <table class="table table-striped">
                <thead v-show="install_items.length > 0">
                <tr>
                    <th>安装包名称</th>
                    <th>安装包路径</th>
                    <th>安装包大小</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody v-for="install in install_items" v-show="install_items.length > 0">
                <tr style="background-color: rgba(8, 21, 29, 0.7);">
                    <td>{{install.file_name}}</td>
                    <td>{{install.file_path}}</td>
                    <td>{{install.file_size}}MB</td>
                    <td>{{install.file_date}}</td>
                    <td><a href="javascript:void(0)" @click="downloadFile(install.file_path)">下载</a></td>
                </tr>
                </tbody>
            </table>
            <div v-show="install_items.length == 0">
                <div align="center" style="margin-top: 10%;">暂无数据</div>
            </div>
            <div style="float: right;">
                <ul class="pagination">
                    <li :class=" installDisablePre ? 'disabled':''">
                        <a href="javascript:void(0)" v-show="installDisablePre">上一页</a>
                        <a href="javascript:void(0)" @click="installPrevious" v-show="installDisablePre == false">上一页</a>
                    </li>
                    <li v-for="index in defaultInstallPagesSize" :class="install_page_no == index ? 'active':''">
                        <a href="javascript:void(0)" @click="installChangePageNo(index)">{{ index }}</a>
                    </li>
                    <li :class=" installDisableNext ? 'disabled':''">
                        <a href="javascript:void(0)" v-show="installDisableNext">下一页</a>
                        <a href="javascript:void(0)" @click="installNext" v-show="installDisableNext == false">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="upgrade">
            <table class="table table-striped" id="upgrade_table">
                <thead v-show="upgrade_items.length > 0">
                <tr>
                    <th>升级包名称</th>
                    <th>升级包路径</th>
                    <th>升级包大小</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody v-for="upgrade in upgrade_items" v-show="upgrade_items.length > 0">
                <tr style="background-color: rgba(8, 21, 29, 0.7);">
                    <td>{{upgrade.file_name}}</td>
                    <td>{{upgrade.file_path}}</td>
                    <td>{{upgrade.file_size}}MB</td>
                    <td>{{upgrade.file_date}}</td>
                    <td><a href="javascript:void(0)" @click="downloadFile(install.file_path)">下载</a></td>
                </tr>
                </tbody>
            </table>
            <div v-show="upgrade_items.length == 0">
                <div align="center" style="margin-top: 10%;">暂无数据</div>
            </div>
            <div style="float: right;">
                <ul class="pagination">
                    <li :class=" disablePre ? 'disabled':''">
                        <a href="javascript:void(0)" v-show="disablePre">上一页</a>
                        <a href="javascript:void(0)" @click="previous" v-show="disablePre == false">上一页</a>
                    </li>
                    <li v-for="index in defaultPagesSize" :class="page_no == index ? 'active':''">
                        <a href="javascript:void(0)" @click="changePageNo(index)">{{ index }}</a>
                    </li>
                    <li :class=" disableNext ? 'disabled':''">
                        <a href="javascript:void(0)" v-show="disableNext">下一页</a>
                        <a href="javascript:void(0)" @click="next" v-show="disableNext == false">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(8, 21, 28, 0.6);">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">{{ content }}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<script>
    $(function () {
        $('#myTab li:eq(0) a').tab('show');
    });
    var vue = new Vue({
        el: '#main',
        data: {
            page_no: 1,
            page_size: 10,
            install_page_no: 1,
            install_page_size: 10,
            total: 0,
            install_total: 0,
            pagesSize: 1,
            installPagesSize: 1,
            defaultPagesSize: [1, 2, 3, 4, 5],
            defaultInstallPagesSize: [1, 2, 3, 4, 5],
            svn_url: "",
            version: "",
            packageType: 1,
            content: "",
            queryLogJobId: 0,
            queryInstallJobId: 0,
            queryUpgradeJobId: 0,
            queryResultJobId: 0,
            startPackageDisable: false,
            log_content: "",
            status: false,
            upgrade_items: [],
            install_items: [],
            disablePre: true,
            disableNext: false,
            installDisablePre: true,
            installDisableNext: false
        },
        mounted: function () {
            this.queryInstallPackage();
            this.queryUpgradePackage();
        },
        computed: {
            build: function () {
                let date = new Date();
                return this.formatDate(date, "yyyyMMdd");
            }
        },
        methods: {
            previous: function () {
                let self = this;
                if (self.page_no != self.pagesSize) {
                    self.disableNext = false;
                }
                if (self.page_no == 1) {
                    self.disablePre = true;
                } else {
                    self.page_no = parseInt(self.page_no) - 1;
                    if (self.page_no < self.defaultPagesSize[0]) {
                        self.defaultPagesSize.splice(self.defaultPagesSize.length - 1, 1);
                        self.defaultPagesSize.splice(0, 0, parseInt(self.defaultPagesSize[0]) - 1);
                    }
                    if (self.page_no != self.pagesSize) {
                        self.disableNext = false;
                    }
                    if (self.page_no == 1) {
                        self.disablePre = true;
                    }
                }
                self.queryUpgradePackage();
            },
            next: function () {
                let self = this;
                if (self.page_no != 1) {
                    self.disablePre = false;
                }
                if (self.page_no == self.pagesSize) {
                    self.disableNext = true;
                } else {
                    self.page_no = parseInt(self.page_no) + 1;
                    if (self.page_no > self.defaultPagesSize[self.defaultPagesSize.length - 1]) {
                        self.defaultPagesSize.splice(0, 1);
                        self.defaultPagesSize.push(self.page_no);
                    }
                    if (self.page_no != 1) {
                        self.disablePre = false;
                    }
                    if (self.page_no == self.pagesSize) {
                        self.disableNext = true;
                    }
                }
                self.queryUpgradePackage();
            },
            changePageNo: function (val) {
                let self = this;
                self.page_no = val;
                if (self.page_no == 1) {
                    self.disablePre = true;
                } else {
                    self.disablePre = false;
                }
                if (self.page_no == self.pagesSize) {
                    self.disableNext = true;
                } else {
                    self.disableNext = false;
                }
                self.queryUpgradePackage();
            },
            installPrevious: function () {
                let self = this;
                if (self.install_page_no != self.installPagesSize) {
                    self.installDisableNext = false;
                }
                if (self.install_page_no == 1) {
                    self.installDisablePre = true;
                } else {
                    self.install_page_no = parseInt(self.install_page_no) - 1;
                    if (self.install_page_no < self.defaultInstallPagesSize[0]) {
                        self.defaultInstallPagesSize.splice(self.defaultInstallPagesSize.length - 1, 1);
                        self.defaultInstallPagesSize.splice(0, 0, parseInt(self.defaultInstallPagesSize[0]) - 1);
                    }
                    if (self.install_page_no != self.installPagesSize) {
                        self.installDisableNext = false;
                    }
                    if (self.install_page_no == 1) {
                        self.installDisablePre = true;
                    }
                }
                self.queryInstallPackage();
            },
            installNext: function () {
                let self = this;
                if (self.install_page_no != 1) {
                    self.installDisablePre = false;
                }
                if (self.install_page_no == self.installPagesSize) {
                    self.installDisableNext = true;
                } else {
                    self.install_page_no = parseInt(self.install_page_no) + 1;
                    if (self.install_page_no > self.defaultInstallPagesSize[self.defaultInstallPagesSize.length - 1]) {
                        self.defaultInstallPagesSize.splice(0, 1);
                        self.defaultInstallPagesSize.push(self.page_no);
                    }
                    if (self.install_page_no != 1) {
                        self.installDisablePre = false;
                    }
                    if (self.install_page_no == self.installPagesSize) {
                        self.installDisableNext = true;
                    }
                }
                self.queryInstallPackage();
            },
            installChangePageNo: function (val) {
                let self = this;
                self.install_page_no = val;
                if (self.install_page_no == 1) {
                    self.installDisablePre = true;
                } else {
                    self.installDisablePre = false;
                }
                if (self.install_page_no == self.installPagesSize) {
                    self.installDisableNext = true;
                } else {
                    self.installDisableNext = false;
                }
                self.queryInstallPackage();
            },
            queryByNow: function () {
                let self = this;
                self.queryInstallPackage();
                self.queryUpgradePackage();
            },
            queryByTimeTask: function () {
                let self = this;
                self.queryInstallPackageByTime();
                self.queryUpgradePackageByTime();
                self.content = "定时刷新启动成功";
                $('#myModal').modal('show');
            },
            closeTimeTask: function () {
                let self = this;
                window.clearInterval(self.queryInstallJobId);
                window.clearInterval(self.queryUpgradeJobId);
                self.content = "定时刷新关闭成功";
                $('#myModal').modal('show');
            },
            queryInstallPackage: function () {
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "/package/v1/files/1?page_no=" + self.install_page_no + "&page_size=" + self.install_page_size,
                    success: function (data) {
                        self.install_items = data.items;
                        self.install_total = data.total;
                        if (parseInt(self.install_total) % parseInt(self.install_page_size) == 0) {
                            self.installPagesSize = parseInt(parseInt(self.install_total) / parseInt(self.install_page_size));
                        } else {
                            self.installPagesSize = parseInt(parseInt(self.install_total) / parseInt(self.install_page_size)) + 1;
                        }
                        if (self.defaultInstallPagesSize.length > self.installPagesSize) {
                            self.installDisableNext = true;
                            self.installDisablePre = true;
                            self.defaultInstallPagesSize = [];
                            for (let i = 1; i <= self.installPagesSize; i++) {
                                self.defaultInstallPagesSize.push(i);
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            queryUpgradePackage: function () {
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "/package/v1/files/2?page_no=" + self.page_no + "&page_size=" + self.page_size,
                    success: function (data) {
                        self.upgrade_items = data.items;
                        self.total = data.total;
                        if (parseInt(self.total) % parseInt(self.page_size) == 0) {
                            self.pagesSize = parseInt(parseInt(self.total) / parseInt(self.page_size));
                        } else {
                            self.pagesSize = parseInt(parseInt(self.total) / parseInt(self.page_size)) + 1;
                        }
                        if (self.defaultPagesSize.length > self.pagesSize) {
                            self.disableNext = true;
                            self.disablePre = true;
                            self.defaultPagesSize = [];
                            for (let i = 1; i <= self.pagesSize; i++) {
                                self.defaultPagesSize.push(i);
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            queryInstallPackageByTime: function () {
                let self = this;
                self.queryInstallJobId = window.setInterval(function () {
                    self.queryInstallPackage();
                }, 10000);
            },
            queryUpgradePackageByTime: function () {
                let self = this;
                self.queryUpgradeJobId = window.setInterval(function () {
                    self.queryUpgradePackage();
                }, 10000);
            },
            downloadFile: function (path) {
                window.location = "/package/v1/files/download?path=" + path;
            },
            isUrl: function (str_url) {
                var urlRegExp = /^((https|http|ftp|rtsp|mms)?:\/\/)+[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
                if (urlRegExp.test(str_url)) {
                    return true;
                } else {
                    return false;
                }
            },
            formatDate: function (date, fmt) {
                let self = this;
                if (/(y+)/.test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
                }
                let o = {
                    'M+': date.getMonth() + 1,
                    'd+': date.getDate(),
                    'h+': date.getHours(),
                    'm+': date.getMinutes(),
                    's+': date.getSeconds()
                };
                for (let k in o) {
                    if (new RegExp(`(${k})`).test(fmt)) {
                        let str = o[k] + '';
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : self.padLeftZero(str));
                    }
                }
                return fmt;
            },
            padLeftZero: function (str) {
                return ('00' + str).substr(str.length);
            }
        }
    });
</script>
</body>
</html>